<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <activity
            android:name=".activity.InvoiceTypeOfAllListActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoiceWebviewLoadActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoioceBusinessReportActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />

        <activity
            android:name=".activity.InvoiceAddItemFormActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoiceBusinessAndCustomerActivity"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:configChanges="orientation|screenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".activity.InvoiceAddExpenseFormActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoiceNewCustomerFormActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoiceBusinessDetailFormActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoiceCreateFormActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoiceHomeScreen"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoicePdfViewActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />
        <activity
            android:name=".activity.InvoiceFilePdfViewActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.InvoiceGeneratorTheme"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/invoice_file_paths" />
        </provider>

    </application>

</manifest>